# FastAPI framework
fastapi==0.111.1

# Servidor ASGI
uvicorn[standard]==0.23.2

# Plantillas Jinja2
jinja2==3.1.6

# Para recibir formularios y archivos en FastAPI
python-multipart>=0.0.7

# ORM SQLAlchemy
sqlalchemy==2.0.22

# Base de datos SQLite (ya viene con Python, pero para compatibilidad)
databases[sqlite]==0.9.0

# Opcional para validación de emails (si querés evitar problemas, podés quitarlo)
# email-validator==1.1.3
