body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f2e6d9; /* color madera */
}

th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
}
